@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Nekst-Black";
  src: url("../fonts/Nekst-Regular.eot");
  src: local("Nekst"), local("Nekst-Regular"), url("../fonts/Nekst-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Regular.woff2") format("woff2"), url("../fonts/Nekst-Regular.woff") format("woff"), url("../fonts/Nekst-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nekst-Black";
  src: url("../fonts/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("../fonts/Nekst-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Black.woff2") format("woff2"), url("../fonts/Nekst-Black.woff") format("woff"), url("../fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.calculator__link, .body__link, .header__burger, .header__sub-link, .header__sublist-link, .header__link, .header__list-link {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1344px;
  margin: 0 auto;
}

.main__page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 21px 0px;
}
.main__page-header::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.main__page-body {
  margin: 120px 0px 100px 0;
}
.header__contaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1416px;
  height: 48px;
  margin: 0 auto;
  padding: 0 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-body {
  z-index: 2;
}
.header__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}
.header__list-link > li {
  margin: 0px 0px 0px 16px;
  position: relative;
}
.header__list-link > li:last-child {
  margin: 0px 0px 0px 40px;
}
@media (max-width: 768px) {
  .header__list-link > li:last-child {
    height: 60vh;
  }
}
.header__list-link .dropdowm__li:hover .header__sublist-link {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 768px) {
  .header__list-link {
    position: fixed;
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 70px 10px 20px 10px;
    top: 0;
    right: -100%;
    overflow: auto;
  }
}
.header__list-link.active {
  right: -50%;
}
.header__link {
  display: block;
  color: #575757;
  padding: 8px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.header__link:hover {
  background-color: #C4C4C4;
}
@media (max-width: 768px) {
  .header__link {
    font-size: 24px;
    margin: 0px 0px 18px 0px;
  }
}
.header__sublist-link {
  position: absolute;
  background-color: #fbfbfb;
  min-width: 200px;
  top: 100%;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 768px) {
  .header__sublist-link {
    display: none;
  }
}
.header__sub-link {
  display: block;
  color: #111111;
  padding: 15px;
  font-family: "Gilroy";
}
.header__sub-link:hover {
  background-color: #C4C4C4;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 2;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: #111111;
    width: 100%;
    height: 3px;
    top: 15px;
    left: 0;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-radius: 50px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #111111;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-radius: 50px;
  }
  .header__burger::before {
    top: 2px;
  }
  .header__burger::after {
    bottom: 2px;
    width: 70%;
  }
  .header__burger.active span {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 14px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 14px;
  }
  .header__burger.active::after {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.logo__title {
  color: #FF9514;
  position: relative;
  top: 0;
  left: 0;
  font-family: "Gilroy";
  font-size: 34px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo__title span {
  color: #111111;
  text-shadow: none;
}
.logo__title::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  margin: 0 17px;
  background-color: #C4C4C4;
}
.logo__subtitle {
  color: #C4C4C4;
  margin: 0px 0px 0px 35px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
}

.bid__link {
  color: #FF9514;
  padding: 12px 24px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 700;
  border: solid 1px #FF9514;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .bid__link {
    background-color: #FF9514;
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}
.bid__link:hover {
  color: #fff;
  background-color: #FF9514;
}

.body__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.body__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 544px;
          flex: 1 1 544px;
  background-color: #000000;
  padding: 70px 0px 0px 70px;
}
.body__title {
  color: #fff;
  margin: 0px 0px 32px 0px;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
}
.body__description {
  color: #fff;
  margin: 0px 0px 24px 0px;
  font-family: "Nekst-Black";
  font-weight: 900;
  font-size: 30px;
}
.body__link {
  color: #fff;
  background-color: #FF9514;
  display: inline-block;
}
.body__link:hover {
  color: #FF9514;
  background-color: #fff;
}
.body__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
  position: relative;
}
.body__slider .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0px 0px 44px 102px;
}
.body__slider .swiper-pagination-bullet {
  background-color: #fff;
  width: 6px;
  height: 6px;
  margin: 0px 20px 0px 0px !important;
}
.body__slider .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 12px;
  height: 12px;
}
.body__navigation {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 88px;
  height: 48px;
  margin: 0px 44px 44px 0px;
}

.navigation__button-prev, .navigation__button-next {
  position: absolute;
  z-index: 1;
  border: 2px solid lightgrey;
  border-radius: 50%;
  overflow: hidden;
}
.navigation__body {
  position: absolute;
  background-color: #000000;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}
.navigation__button-prev {
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
}
.navigation__button-prev .navigation__body {
  width: 18px;
  height: 18px;
}
.navigation__button-prev::after {
  content: url(../img/arrow-left.svg);
  width: 100%;
  height: 100%;
  top: 4px;
  left: 6.5px;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.navigation__button-next {
  width: 48px;
  height: 48px;
  right: 0;
}
.navigation__button-next .navigation__body {
  width: 36px;
  height: 36px;
}
.navigation__button-next::after {
  content: url(../img/arrow-right.svg);
  width: 100%;
  height: 100%;
  top: 13px;
  left: 18px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.navigation__button-line {
  position: absolute;
  width: 50%;
  height: 0%;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.calculator__title {
  color: #111111;
  max-width: 753px;
  margin: 0px 0px 32px 0px;
  font-family: "Nekst-Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 90%;
}
.calculator__content {
  padding: 0px 0px 100px 0px;
}
.calculator__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 44px 0px;
}
.calculator__outputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calculator__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF9514;
  color: #fff;
  width: 100%;
  height: 68px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 30px;
  line-height: 120%;
}
.calculator__link:hover {
  background-color: #fff;
  color: #FF9514;
}

.content__input-item {
  -webkit-box-flex: 33.3333333333%;
      -ms-flex: 33.3333333333%;
          flex: 33.3333333333%;
  margin: 0px 32px 0px 0px;
}
.content__title {
  color: #575757;
  margin: 0px 0px 24px 0px;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
.content__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #F3F3F4;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__output-item {
  -webkit-box-flex: 33.3333333333%;
      -ms-flex: 33.3333333333%;
          flex: 33.3333333333%;
  margin: auto 0;
}
.content__output-item:last-child {
  padding: 0px 22px 0px 0px;
}
.input__number {
  background-color: #F3F3F4;
  color: #575757;
  margin: 16px 0px 16px 24px;
  font-family: "Nekst-Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 120%;
}
.input__description {
  color: #575757;
  margin: 0px 16px 0px 0px;
  font-family: "Nekst-Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 120%;
}
.input__line-block {
  background-color: #e1e1e1;
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0;
  left: 5%;
}
.input__line {
  width: 90%;
  position: absolute;
}

.output__number {
  position: relative;
  color: #575757;
  top: 5px;
  font-family: "Nekst-Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 90%;
}
.output__description {
  color: #575757;
  font-family: "Nekst-Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
  -webkit-appearance: none;
  width: 80%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #FF9514;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FF9514;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF9514;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #FF9514;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FF9514;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #FF9514;
}

input[type=range]::-ms-fill-upper {
  background: #FF9514;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FF9514;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #FF9514;
}

input[type=range]:focus::-ms-fill-upper {
  background: #FF9514;
}